
@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Discography</h2>
<p>Please find my current discography, all of which are available to buy as a digital download or physical CD.</p>

<audio id="player" src="~/Assets/audio/Somewhere_In_Time.mp3" type="audio/mp3" controls="controls"></audio>


<h3>[[[TODO: Album Name]]] (2014)</h3>
<p><strong><i>[[[TODO: Album Name]]]</i></strong> is the debut studio album by Organist Tony Robers, released [[[TODO: Release Date]]] recorded live at Innovation Recording Studios.</p>
<p>
    <strong>Track listing</strong> (<i>click for a 30 second sample</i>);
</p>

<ol>
    <li>
        <p>
            Somewhere In Time/I Have a Dream
        </p>
    </li>
    <li>
        <p>
            All I Ask of You/Amigos Para Slampre
        </p>
    </li>
    <li>
        <p>
            Water Mark/The Sweatheart Tree
        </p>
    </li>
    <li>
        <p>
            Let Me Call You Sweatheart/When i Grow to Old to Dream
        </p>
    </li>
    <li>
        <p>
            La Golondrina/O Sole Mio
        </p>
    </li>
    <li>
        <p>
            Habanera/Born Free
        </p>
    </li>
    <li>
        <p>
            Almost Like Being in Love/One of Those Songs/Midnight In Moscow
        </p>
    </li>
    <li>
        <p>
            Cheek to Cheek/Puttin on the Ritz/Your Just in Love
        </p>
    </li>
    <li>
        <p>
            I Do I Do I Do/I Fall to Pieces
        </p>
    </li>
    <li>
        <p>
            Dancin in the Dark/Till There Was You
        </p>
    </li>
    <li>
        <p>
            [[[TODO: Finish Track listing]]]
        </p>
    </li>
    <li>
        <p>
            Almost Like Being in Love/One of Those Songs/Midnight In Moscow
        </p>
    </li>
    <li>
        <p>
            Almost Like Being in Love/One of Those Songs/Midnight In Moscow
        </p>
    </li>
    <li>lalasd</li>
</ol>

<h3>Enter the Wu-Tang (36 Chambers) (1993)</h3>
<p>Released November 9, 1993, on Loud Records and distributed through RCA Records. Recording sessions for the album <strong><i>Enter the Wu-Tang (36 Chambers)</i></strong> took place during 1992 to 1993 at Firehouse Studio in New York City.</p>
<p>Then imagine here an album sleeve image and track listing, and maybe an itunes style album sample.</p>