
@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Discography</h2>
<p>Please find my current discography, all of which are available to buy as a digital download or physical CD.</p>

<audio id="player" src="~/Assets/audio/Somewhere_In_Time.mp3" type="audio/mp3" controls="controls"></audio>


<h3>Straight Outta Compton (1988)</h3>
<p><strong><i>Straight Outta Compton</i></strong> is the debut studio album by American hip hop group N.W.A, released August 8, 1988 on group member Eazy-E's record label Ruthless Records.</p>
<p>Then imagine here an album sleeve image and track listing, and maybe an itunes style album sample.</p>

<h3>Enter the Wu-Tang (36 Chambers) (1993)</h3>
<p>Released November 9, 1993, on Loud Records and distributed through RCA Records. Recording sessions for the album <strong><i>Enter the Wu-Tang (36 Chambers)</i></strong> took place during 1992 to 1993 at Firehouse Studio in New York City.</p>
<p>Then imagine here an album sleeve image and track listing, and maybe an itunes style album sample.</p>