<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />


  <add key="Paypal.URL" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
  <add key="Paypal.Merchant.EmailAddress" value="simonlythe+paypalbusiness@gmail.com"/>

  <add key="Albums.TonyRobertsLive.GrossPrice" value="9.99"/>
  
</appSettings>