@using TonyRobertsOrganist.Core.Models

@model TonyRobertsOrganist.Core.Models.DiaryModel

@{
    ViewBag.Title = "Diary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Concert Diary</h2>

<h3>Upcoming Shows</h3>

<table>

    <tr>
        <th><p>Date</p></th>
        <th></th>
        <th><p>Start Time</p></th>
        <th></th>
        <th><p>End Time</p></th>
        <th></th>
        <th><p>Location</p></th>
        <th></th>
        <th><p>Additional Information</p></th>
    </tr>

    @foreach (DiaryEvent dEvent in Model.DiaryEvents)
    {
        @Html.Partial("PartialDiaryItem", dEvent);
    }

</table>