@{
    ViewBag.Title = "About Tony Roberts";
}

<h2>A Brief Introduction to Tony Roberts, the Organist</h2>

<h3>The Early Years</h3>

<p>
    Tony was born in Wordsley in the West Midlands and started playing at the age of 10 on a Bontempi organ from Woolworths. He was playing in public by the age of 12, from aged 14 yrs.  He was the resident organist at the local Pensnett and Bromley Labour club, playing Saturdays and Sundays backing various cabaret artists for several years. At 17 yrs. he turned professional.
</p>

<p>
    Tony's first professional years were very hectic, traveling all over the country and abroad doing numerous summer seasons for Butlins , Pontins and Warners. This saw him performing from Scotland to Cornwall, Germany to Gibraltar.
</p>

<h3>Performance Highlights</h3>

<p>
    Tony's skills and musical talent enabled him to take on the role of Musical director at Christmas, in that he directed pantomime and shows in many well-known top theatres and he has had the pleasure to work with many known house hold stars of that time. In addition Tony is no stranger in entertainment and mixing with stars; Tony has toured with many comedians and singers and has been a guest on numerous well known TV and radio shows including performing on Radio 2 "Friday Night Is Music Night".
</p>

<h3>Present Day</h3>

<p>
    At this present time Tony is based in the West midlands and performs undertaking ballroom/ sequence dance and concerts, and private bookings for those special occasions.
</p>

<p>
    In addition Tony is a talented music teacher and provides lessons for organ, keyboard and piano on a private basis and has been doing so for over 25 years, entering many of his pupils for examinations.
</p>

<p>
    Although he has played many instruments in the past from Hammond, Lowrey, Technics, Wurlitzer to Yamaha. At present he has the Yamaha Tyros 3, with Korg XD5 and Ketron Bass pedals for ease of transport.
</p>

<h3>The Sound of Tony</h3>

<p>
    Tony's sound is orchestrated and has produced his first CD, .after many years of people asking and will produce a second CD in which Tony will add vocals.
</p>
