@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>

<p>
    Any questions? Feel free to get in touch via any of the methods below;<br /><br />
    
    Send me an email: <a href="mailto:tonyrobertsmd@gmail.com?Subject=A%20Question%20from%20your%20Website" target="_top">tonyrobertsmd@gmail.com</a><br />
    Give me a call: 01234 123456<br/><br/>
    
    <i>Write me a letter;</i><br />
    213 Street Address<br />
    Town<br />
    County<br />
    WS4 8GH

</p>



<p></p>
