@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>

<p>
    Any questions? Feel free to get in touch via any of the methods below;<br /><br />
    
    Send me an email: <a href="mailto:tonyrobertsmd@gmail.com?Subject=A%20Question%20from%20your%20Website" target="_top">tonyrobertsmd@gmail.com</a><br /><br />
    Give me a call: 07932 050002<br/><br/>

</p>



<p></p>
