@{
    ViewBag.Title = "Organist Tony Roberts - Professional Organ & Piano player";    
}

<div class="wide">
    <div class="container">
        <div class="jumbotron">
            <h1>Tony Roberts - Keyboard Player</h1>
            <p class="lead">A talented Keyboard player with much to offer, Tony Roberts can provide the musical services required for any occasion.</p>
            <p><a href="/Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

<div class="tall">
    <!-- This div is just to pad out the space where jumbotron lives -->
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Discography</h2>
            <p>
                Aliquam fermentum faucibus felis quis blandit. Proin vel faucibus arcu. Etiam quis odio tellus. Phasellus dolor est, mattis a luctus et, cursus eget magna. Nullam lobortis elit aliquam nunc tristique ornare. Morbi congue hendrerit dui eget tempor.
            </p>
            <p><a class="btn btn-default" href="#">See Collection &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Concert Diary</h2>
            <p>
                <i><strong>Next Concert: </strong> @DateTime.Now.AddDays(7).ToString("dd/MM/yy") @@ The Keep Moat Stadium</i>
            </p>
            <p>Quisque eget massa sit amet erat dictum feugiat sit amet et elit. Duis eu lorem consectetur, feugiat eros a, faucibus dui. Proin tristique faucibus nulla non blandit. Aenean pharetra luctus mauris.</p>
            <p><a class="btn btn-default" href="#">See Dates &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Gallery</h2>
            <p>Ut elementum feugiat massa et accumsan. Praesent tempor ornare nunc non ullamcorper. Ut varius, mi et feugiat rhoncus, leo lacus feugiat tellus, ac aliquet neque dolor eu mi.</p>
            <p><a class="btn btn-default" href="#">View Gallery &raquo;</a></p>
        </div>
    </div>
</div>
