
@{
    ViewBag.Title = "CareHomes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Care Homes</h2>

<p>
    Tony provides entertainment for many local retirement and residential homes. He normally has a one hour show but can do more if required. He plays a wide variety of music that is especially suited to the occasion, whether it's a stroll down memory lane, Christmas, Easter, residents birthday, garden party or a normal visit.
</p>

<p>
    Tony believes that musical entertainment is very stimulating and therapeutic for the residents, as they can sing, dance or just tap their feet and some songs will bring back many memories.
</p>

<p>
    Although song sheets can be provided if required, most people find they can remember the words.
</p>

<p>
    Tony finds all the old sing a long songs are the best, but can easily perform music and songs from the 1920s to the present day.
</p>

<p>
    [[[TODO: Images]]]
</p>