
@{
    ViewBag.Title = "PersonalRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personal Requests</h2>

<p>
    If you would like to give a unique special gift a personal song would be ideal for a loved one. Tony will record that special song you`ve always wanted but in a unique way, like no other version, you say how you want it arranged and tony will do his best to accommodate. Recorded on a CD with unique insert and label or just download to your laptop.
</p>
    
<p>
    [[[TODO: Image of CD cover examples]]]
</p>

<p>
    [[[TODO: Song sample]]]
</p>

<p>
    If you’re a musician or want to give a gift to one, then personalized sheet music is perfect for any occasion. Most standard music is difficult for the inexperienced player or those just learning to play. Tony will make it easier to play to your standard from really simple to a more advanced standard if you prefer. This can be sent by post or downloaded.
</p>
    
<p>
    [[[TODO: Image of sheet music]]]
</p>

<p>
    Prices start from as little as £3.00, to get a quote please contact me with more information.
</p>