
@{
    ViewBag.Title = "Tuition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tuition</h2>

<p>
    Tony has been teaching since he was 16 years of age. Over time he has taught over 100 students ranging from age 6 to 86.
</p>

<p>
    He has worked in a music school and college in small and large groups, but now mainly teaches privately on a one to one basis either at his home or at his pupil’s home. Adult students tend to play for pleasure whereas younger pupils often want to develop a career and take the examination route should they wish to.
</p>

<p>
    Tony teaches organ, keyboard and piano; all three are played slightly differently. He also teaches Music theory and many of his students have attained high grades from the University of West London (LCM) and the ABRSM. Students are taught once a week or fortnightly, but there is sometimes a one off lesson to suit individual needs, it is always fun and tailored to suit. Tony can also help you to get to know your own instrument as he has played many makes and models of organ and keyboard.
</p>